
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
*.log
.env
.env.*
.git
.gitignore
.idea
.vscode
*.sqlite
*.cache
*.tmp
.DS_Store
Thumbs.db
